.navbar-collapse {
    text-align: center;
    /*background-color: #9F40FE;*/
}


.form-group > label > span {
    font-weight: bold;
}

.color-primario {
    color: #6B3B8F;
}

.color-secundario {
    color: #8087C1;
}

.elemento-primario {
    background-color: #6B3B8F;
    color: #FFFFFF;
}

.elemento-secundario {
    background-color: #8087C1;
    color: #FFFFFF;
}

.admin-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-space {
    margin-right: 20px;
    margin-bottom: 40px;
}

.button-principal {
    display: inline-block;
    border-radius: 20px;
    background-color: #9F40FE; /*#6B3B8F*/
    border: none;
    color: #FFFFFF !important;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
    width: 200px ;
    text-align: center;
}

.button-principal:hover {
    opacity: 0.8;
}

.button-principal2 {
    display: inline-block;
    border-radius: 20px;
    background-color: #8087C1;
    border: none;
    color: #FFFFFF !important;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
    width: 180px ;
    text-align: center;
}

.button-secondary {
    border-radius: 20px;
    background-color: #9F40FE;
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.button-confirmation {
    border-radius: 20px;
    background-color: #8087C1;
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.button-search {
    border-radius: 20px;
    background-color: #8087C1;
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.button-search-special {
    border-radius: 30px;
    background-color: #8087C1;
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.button-seeMore {
    border-radius: 20px;
    background-color: #e5b473;
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.button-cancel {
    border-radius: 20px;
    background-color: #E57373;
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-item:hover {
    background-color: #f0f0f0;
}

.button-minus {
    border-radius: 50%;
    background-color: #e5b473;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.tabs {
    display: flex;
    width: 100%;
}

.tab {
    flex: 1;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid transparent;
}

.tab.active {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.search-list-container {
    width: 90%;
    marginTop: 20px;
    alignItems: center;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .search-list-container {
        width: 70%;
    }
}

